* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    background: rgb(34,89,195);
    background: linear-gradient(0deg, rgba(34,89,195,1) 0%, rgba(117,217,255,1) 100%);
    /* background-size: cover; */
}

.container {
    margin: 2rem auto;
    width: 300px;
}

input, button {
    display: block;
    margin: auto;
    border-radius: 5px;
}

input {
    font-size: 110%;
    border: 1px solid gray;
    padding: 3px 7px;
}

button {
    font-size: 110%;
    padding: 3px 7px;
    border: 1px solid gray;
    margin-bottom: 50px;
}

h1 {
    font-size: 180%;
    margin-bottom: 20px;
}

.section {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 150%;
    font-weight: 400;
}

p {
    font-size: 130%;
    float: right;
}

#card {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 20px;
   }